@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP";
  text-align: center;
}

/* popup for instructions */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  padding-bottom: 20px;
  position: absolute;
  z-index: 1;
  border: 3px solid black;
  top: 100%;
  background-color: #ccdbdc;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.gameOverOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  flex-direction: column-reverse;
}

.gameOverText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
